.header {
    width: 100%;
    background-color: #222125;
    .container {
      padding-left: 10px;
      padding-right: 10px;
      margin-right: auto;
      margin-left: auto;
      max-width: 1200px;
      text-align: center;
    }
    &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      line-height: 100px;
      margin: 0 auto;
      padding: 0 10px 0 10px;
    }
    &__logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      .logo__logo-img {
        line-height: 100%;
      }
      .logo__hover{
        display: none;
      }
      .logo__text {
        margin-left: 17px;
        text-align: left;
        font-size: 24px;
        font-weight: 700;
        line-height: 16px;
        font-family: 'Lato', sans-serif;
        color: #8d81ac;
      }
    }
    &__flex-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      .menu {
        width: 517px;
        margin-right: 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        align-items: center;
        list-style-type: none;
        &__link {
          text-align: left;
          vertical-align: middle;
          font-size: 16px;
          font-weight: 700;
          font-family: 'Montserrat', sans-serif;
          text-decoration: none;
          color: #8d81ac;
        }
      }
    }
    &__btn {
      padding: 12px 35px 11px 35px;
      border-radius: 20px;
      text-align: center;
      border: 1px solid transparent;
      font-size: 16px;
      font-weight: 700;
      line-height: 15px;
      text-decoration: none;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
    }
    &__burger-menu {
        display: none;
    }
  }
  .btn_violet {
    background-color: #8e82ad;
    white-space: nowrap;
  }
  .menu__link:hover {
    color: #ffffff;
  }
  .btn_violet:hover {
    border: 1px solid #8d81ac;
    background-color: #fff;
    color: #8d81ac;
  }
  .header__logo:hover .logo__hover {
    margin-top: -3px;
    display: block;
  }
  .header__logo:hover .logo__img{
    display: none;
  }
  .header__logo:hover .logo__text {
    color: #ffffff;
  }
 
 
 @media (max-width: 992px) {
.header {
  .container {
    margin: 0 auto;
     .header__content {
      flex-wrap: wrap;
      .header__flex-wrapper {
        width: 100%;
        justify-content: center;
        order: 3;
      }
    }
  }
  
  }
  
}
@media (max-width: 480px) {
  .header {
    .container {
      margin: 0 auto;
    }
    &__content {
      flex-wrap: nowrap;
    }
    &__flex-wrapper {
      display: none;
    }
    &__burger-menu {
      margin-top: 10px;
      display: inline-block;
        .burger-menu{
          &__button {
            width: 44px;
            height: 37px;
            display: inline-block;
            position: relative;
            background-color: #222125;
        }
        &__button-link,
        &__button-link::before,
        &__button-link::after {
            position: absolute;
            top: 50%; margin-top: -1px;
            left: 50%; margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: #fff;
        }
        &__button-link::before,
        &__button-link::after {
            content: "";
            display: block;
            transition: 0.2s;
        }
        &__button-link::before {
            transform: translateY(-5px);
        }
        &__button-link::after {
            transform: translateY(5px);
        }
        &__button-active span {
            height: 0;
        }
        &__button-active span::before {
            transform: rotate(45deg);
        }
        &__button-active span::after {
            transform: rotate(-45deg);
        }
      }
      .navbar-menu {
          padding-bottom: 5px;
          right: 0;
          top: 110px;
          max-width: 460px;
          z-index: 1;
          text-align: left;
          position: absolute;
          display: none;
          background-color: #303030;
      }
      .navbar-menu.active {
        display: flex;
        flex-direction: column;
        left: 0;
        max-width: none;
      }
      .navbar-menu-link {
        height: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        line-height: 1;
        display: block;
        font-size: 20px;
        color: #fff;
        text-decoration: none;
        font-family: 'Montserrat',sans-serif;
      }
      .navbar-menu-item {
        border-bottom: 2px solid #383838;
      }
      .navbar-menu-item::before,
      .navbar-menu-item.active::before {
          content: "";
          position: absolute;
          display:none;
          margin-top: 12px;
          height: 53px;
          width: 4px;
          z-index: 2;
          background-color: #8d81ac;
    }
    .navbar-menu-item:hover,
    .navbar-menu-item.active:hover {
      &::before {
        display: block;
      }
    }
      .navbar-menu-link.active {
          color:#8d81ac;
      }
    }
  }
}
@media (max-width: 400px) {
  .header {
    &__logo {
      .logo__text {
        display: none;
      }
  }
  &__burger-menu {
    .navbar-menu {
      height: auto;
    }
    .navbar-menu-link {
      font-size: 15px;
    }
  }
}
}